.header {
  position: relative;
  background-color: $white-color;
  border-bottom: $border-color;
  &__container {
    @include centredFlex($jc: space-between);
    @media screen and (max-width: 767px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.navigation {
  @include centredFlex();
  &__list {
    @extend %list;
    display: none;

    @include tablet {
      @include centredFlex($ai: none, $jc: none);
      margin-left: 88px;
    }
    @include desktop {
      margin-left: 93px;
    }
  }
  &__link {
    position: relative;
    @extend %link;
    @include centredFlex($df: block, $ai: none, $jc: none);

    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color $transition-active;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.navigation__item + .navigation__item {
  margin-left: 50px;
}

.current {
  color: $accent-color;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    bottom: -1px;
    left: 0;
  }
}
.contact {
  @extend %list;
  display: none;
  @include tablet {
    display: block;
    margin-left: auto;
  }

  @include desktop {
    @include centredFlex();
  }

  &__link {
    @extend %link;
    color: $text-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.02em;
    @include desktop {
      font-size: 14px;
      line-height: 1.14;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    @include centredFlex($jc: none);
    transition: color $transition-active;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  &__item:last-child {
    margin-top: 10px;
    @include desktop {
      margin-top: 0;
      margin-left: $tipical-margin;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
    @include desktop {
      .contact__item & {
        width: 16px;
        height: 12px;
      }
      .contact__item:last-child & {
        width: 10px;
        height: 16px;
      }
    }
  }
}

.header__button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  display: block;
  padding: 0;
  margin-left: auto;
  transition: fill $transition-active;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white-color;
  width: 100vw;
  height: 100%;
  z-index: 1;
  opacity: 1;
  transition: opacity $transition-active, visibility $transition-active;

  > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vw;
    overflow-y: auto;
    padding: 10px 15px 48px 40px;
  }
  &__list {
    @extend %list;
    margin-top: 8px;
  }
  &__item {
    margin-bottom: 36px;
  }
  &__link {
    @extend %link;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;

    color: $title-color;
    transition: color $transition-active;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  @include tablet {
    display: none;
  }
}
.current-mobile {
  color: $accent-color;
}
.mobile-contact {
  @extend %list;
}
.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact__link {
  @extend %link;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: $accent-color;

  .mobile-contact__item:last-child & {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: $text-color;
    transition: color $transition-active;
  }
  .mobile-contact__item:last-child &:hover {
    color: $accent-color;
  }
}

.mobile-soc {
  margin-top: 64px;
  @extend %list;
  @include centredFlex($ai: none, $jc: none);
  flex-wrap: wrap;
  gap: 10px;
}
.mobile-soc__item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}
.mobile-soc_link {
  @extend %link;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accent-color;
}
