.studio {
  background-color: $white-color;
  &__title {
    @extend %title;
  }
  &__list {
    @extend %list;
    @include centredFlex($ai: none);
    flex-wrap: wrap;
    gap: $tipical-margin;
  }

  &__item {
    @include tablet {
      width: calc((100% - $tipical-margin) / 2);
    }
    @include desktop {
      width: calc((100% - $tipical-margin * 3) / 4);
    }
  }
  &__thumb {
    @include centredFlex();
    max-width: 100%;
    height: 120px;
    background-color: $button-portfolio-color;
    border-radius: 4px;
    margin-bottom: $tipical-margin;
  }
  &__subtitle {
    color: $title-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__text {
    margin-top: 10px;

    color: $text-color;
    font-size: 14px;
    line-height: 1.71;
  }
}
