.works {
  padding-top: 0;
  background-color: $white-color;
  &__title {
    @extend %title;
  }
  &__list {
    @extend %list;
    margin-top: 50px;
    @include centredFlex($ai: none, $jc: none);
    margin-left: calc(-1 * $tipical-margin);
  }

  &__item {
    flex-basis: calc(100% / 3 - $tipical-margin);
    margin-left: $tipical-margin;
  }
  &__thumb {
    position: relative;
  }
  &__text {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    @include centredFlex();
    color: $white-color;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
