.container {
  // width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include mobile {
    width: 480px;
  }
  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1200px;
  }
}

.section-content {
  padding-top: $tipical-padding;
  padding-bottom: $tipical-padding;

  @include desktop {
    padding-top: $tipical-padding-desktop;
    padding-bottom: $tipical-padding-desktop;
  }
}
